*{
  margin:0;
  padding:0;
  color:inherit;
  text-decoration: none;
  border:none;
  font-family:sans-serif;
  font-weight:lighter;
  line-height: 1.4em;
}
body{
  margin-bottom:48px;
}
h1{
  font-size:72px;
}
h2{ 
  font-size: 56px;
}
h3{ 
  font-size: 32px;
}
p{
  font-size: 16px;
}
header{
  background:#333;
  color:white;
  padding: 120px 64px;
}

header h1{
  font-size:128px;
  line-height: 32px
}
header h3{
  font-style: italic;
}

nav{
  font-size:0;
}
nav a{
  margin-left:4px;
  font-size:16px;
  font-weight:normal;
}
section{
  padding: 64px;
}
footer{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  box-sizing:border-box;
  padding:16px;
  background:#333333;
  color:white;
  text-align:right;
}
footer a{
  color:rgb(250, 235, 59);
}
.yellow-text{
  color:rgb(250, 235, 59);
}
.yellow-bg{
  background:rgb(250, 235, 59);
}
.wrapper{
  max-width:1000px;
  margin: 0 auto;
}
.wrapper img{
  width:500px;
  float:right;
}
.done{
  padding:16px;
  background:lightgreen;
  color:white;
  font-size:24px;
  border-radius:8px;
  display:inline-block;
}

.btn{
  padding:8px;
  background:#ccc;
  color:white;
  display:inline-block;
  border-radius:4px;
  transition:background 0.5s ease-out;
}
.btn:hover{
  background:#777;
}
.btn:active{
  background:#333;
}

.text-right{
  text-align: right;
}

.congratulations{
  display:none;
}

#duck p{
  font-style: italic;
  color:white;
  background:#999;
  padding:8px;
  margin-bottom:8px;
}
#duck p.answer{
  background:#bbb;
  color:#333;
}
#duck textarea,
#duck input[type=text]{
  padding:7px;
  border: 1px solid #ccc;
  width:100%;
  background:none;
  box-sizing:border-box;
  margin-bottom: 8px;
  font-size:16px;
}
#duck textarea{
  min-height:128px;
}